.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-top: 80px; // Compensa o header fixo
  
  @media (max-width: 767px) {
    padding-top: 70px;
  }
}